.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  justify-content: center;


  .AppHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 1rem;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}